<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WITEMA</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=Montserrat:ital,wght@0,100..900;1,100..900&family=SUSE+Mono:ital,wght@0,100..800;1,100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../static/style.css">
</head>
<body>
    <h1>What is this e-mail about?</h1>

    <p>make sense of your messages by detecting their emotional tone and key topics</p>
    <div class="container">
        <div class="left-side">
            <textarea id="mailInput" rows="9" placeholder="Paste your e-mail here..."></textarea><br><br>
            <button id="analyseBtn">Analyze</button>
            <span id="spinner">analyzing</span>
        </div>
       
        <div class="rigth-side">
            <h2 id="emotions">Emotions</h2>
            <div id="emotionsContainer">
                <!-- Progess bars of emotions-->
            </div>

            <h2 id="topic">Topics</h2>
            <div id="topicsList"><a>No topics yet...</a></div>
        </div>
    </div>
    <script src="../../static/script.js"></script>  
</body>
</html>
